#sensitive
config.json
package-lock.json
/data/
/events/cooldowns.json

#buggy
/commands/batslap.js
/commands/brain.js
/commands/bulge.js
/commands/canvas.js
/commands/changemymind.js
/commands/color.js
/commands/suggest.js